# Environment variables
.env

# Docker
docker-compose.override.yml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker volumes and data
docker/volumes/
mysql_data/

# Grafana
grafana/
grafana_data/

# Prometheus data
prometheus_data/
